/* Cut */
* {
  margin: 0%;
}
.font {
  font-family: Inter;
  text-align: center;
  font-style: normal;
}
/* Header */
.header {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 44px;
  background: rgba(245, 245, 247, 0.8);
  align-items: center;
  width: 1024px;
}

.text1 {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.28px;
}
/* Section1 */
.section1 {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  background: #fff;
}
.text2 {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.photo3 {
  width: 100vw;
}
.FRAME {
  width: 100vw;
  display: flex;
  justify-content: center;
}
/* Section2 */
.text3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 52.01px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text4 {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
  line-height: 52.01px;
}
.frame1 {
  display: flex;
  align-items: center;
  gap: 32px;
}
.text5 {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.text6 {
  color: #06c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-underline-position: from-font;
}
.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.frame3 {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.photo1 {
  width: 35px;
  height: 35px;
}
.frame4 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.frame5 {
  display: flex;
  justify-content: space-between;
  padding: 80px 140px;
}
.photo2 {
  height: 78px;
  align-self: stretch;
}
.text7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.frame6 {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.frame7 {
  display: flex;
  padding-left: 140px;
  align-items: center;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
  overflow: scroll;
}
/* Section3 */
.frame8 {
  background: url(./let1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.text8 {
  display: flex;
  width: 132px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: start;
}
.text9 {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.196px;
  text-align: start;
  padding-top: 9px;
  padding-bottom: 12px;
}
.text10 {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: start;
}
.frame9 {
  background: url(./let2.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.frame10 {
  background: url(./let3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.frame11 {
  background: url(./let4.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.storecard {
  width: 450px;
  height: 470px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.frame12 {
  display: flex;
  gap: 20px;
  width: fit-content;
}
.frame13 {
  overflow-y: scroll;
  padding-left: 140px;
}
.text11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text12 {
  display: flex;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.frame14 {
  display: flex;
  gap: 4px;
  padding-left: 140px;
}
.frame15 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 60px;
}
.photo4 {
  background-image: url(./hop1.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.text13 {
  width: 197px;
  height: 66px;
  padding-left: 30px;
  padding-top: 53px;
}
.photo5 {
  width: 257px;
  height: 257px;
}
.frame16 {
  display: flex;
  padding: 23px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 58px;
  width: 257px;
}
.text14 {
  display: flex;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  align-items: start;
}
.text15 {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  height: 61px;
}
.text16 {
  display: flex;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  align-items: start;
}
.frame17 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}
.frame18 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* Section5 */
.photo6 {
  background-image: url(./hol1.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
